
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://www.carpoolweek.co.za/images/carpoolweek.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <!-- <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1> -->
  </div>
</header>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a routerLink="/home" class="w3-bar-item w3-button"><b> <img src="https://icon-library.net/images/car-icon-images/car-icon-images-12.jpg" style="width:25px;height:25px"></b> Car Pool</a>
    <div class="w3-right w3-hide-small">
      <a routerLink="/home" class="w3-bar-item w3-button">Home</a>
      <a  routerLink="/register" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Register</a>
      <a  routerLink="/login" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">User Login</a>
      <a  routerLink="/login" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Company Login</a>
    </div>
  </div>
</div>

<div class="w3-content w3-padding" style="max-width:1564px">

  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Car Pooling</h3>
    <p>Carpooling (also car-sharing, ride-sharing and lift-sharing) is the sharing of car journeys so that more than one person travels in a car, and prevents the need for others to have to drive to a location themselves.

By having more people using one vehicle, carpooling reduces each person's travel costs such as: fuel costs, tolls, and the stress of driving. Carpooling is also a more environmentally friendly and sustainable way to travel as sharing journeys reduces air pollution, carbon emissions, traffic congestion on the roads, and the need for parking spaces. Authorities often encourage carpooling, especially during periods of high pollution or high fuel prices. Car sharing is a good way to use up the full seating capacity of a car, which would otherwise remain unused if it were just the driver using the car.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Why Car Pooling?</h3>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://i.pinimg.com/originals/65/f0/5b/65f05b5e520c1a52610aaf56052c1ba8.png" alt="John" style="width:200px;height:140px">
      <h3>Save money</h3>
      <p>Share the costs of driving with other riders.</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" style="padding-top: 20px;">
      <img src="https://icon-library.net/images/time-icon-png/time-icon-png-6.jpg" alt="Jane" style="width:120px;height:120px">
      <h3>Save Time</h3>
      <p>As a carpool, you can drive in the HOV (high occupancy vehicle) lane.</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://static.thenounproject.com/png/122246-200.png" alt="Mike" style="width:150px;height:150px">
      <h3>Save Environment</h3>
      <p>Carpooling creates cleaner air and safer communities.</p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://cdn2.iconfinder.com/data/icons/outline-business-planning-management-black-set-2/64/1-95-512.png" alt="Dan" style="width:150px;height:150px">
      <h3>Reduce Stress</h3>
      <p>Read, listen to music, or relax when you’re not driving.</p>
    </div>
  </div>
  
</div>
<div class="w3-container" style=" padding:0px;">
  <img src="https://ak2.picdn.net/shutterstock/videos/29358802/thumb/12.jpg" class="w3-image" style="width:100%; padding-bottom:12px">
</div>

   <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  <footer class="w3-center w3-black w3-padding-16">
  <p>Developed by Ajinkya</p>
</footer>
<!-- </body>
</html>
 -->