<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div id="id01" class="modal" style="display: block;">
  
  <form class="modal-content animate" action="/action_page.php" method="post" style="width:50%">
    <div class="container1">
	  <h1>Sign In</h1>
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
    </div>
    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" routerLink="/home" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
</body>
</html>
